body{
    margin: 0px;
    padding:0px;
    background-color: black;
    background-image: url('images/bgimg.jpg');
    color: black;
    background-size: 800px 800px;
    background-repeat: no-repeat;
    font-family: 'Baloo Bhai 2', cursive;
}
.left{
    display: inline-block;
    /* border: 2px; */
    /* border-style: solid; */
    /* background-color: #151515; */
    left: 60px;
    top: 20px;
    padding: 11px;
    margin-top: 0px;
    margin-left: 20px;
}
.left div{
    font-size: 20px;
    line-height: 2px;
    text-align: center;

}
.mid{
    display: block;
    width: 50%;
    /* border: 2px solid green; */
    margin-top: -112px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
}


.right{
    position: absolute;
    right: 58px;
    top: 36px;
    display: inline-block;
   
}
.navbar{
    color: white;
    display: inline-block;
    
}
.navbar li{
    display: inline-block;
   font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 30px 23px;
}
.navbar li a:hover{
    color: rgb(148, 137, 137);
    padding: 34px 23px;
}
.left img{
    width: 100px;
    filter: invert(100%);
}
.logo-name{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(101, 98, 98);
}
.container{
    border: 2px solid lightblue;
    margin: 15px 921px;
    padding: 33px 0px;;
    width: 33%;
    border-radius: 36px;
    color: white;
}
.form-group input{
    font-size: 15px;
    border: 2px soild black;
    margin: 20px;
    text-align: center;
    display: block;
    width: 403px;
    padding: 5px;
    border-radius: 8px;
    font-family: 'Baloo Bhai 2', cursive;
}

.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 414px;
    margin: 0px 22px;
}
.container form{
    margin-left: 22px;
}